.header {
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    background-color: black;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    
    
}

.header span {
    color:white;
    padding: 2%;
    margin: 20px;
    
}

.heading
{
padding: 3rem;
font-size: 1.2rem;
text-align: center;
background-color: aqua;
left:0;
width:100%
}
.music{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding: 20px;
    font-size: 20px;
}